.main-row {
    display: flex;
    align-items: center;
}

.main-row>* {
    margin: 0 5px;
}

.dry-wash-iron {
    position: relative;
}

.dry-wash-iron-checkbox {
    position: absolute;
    right: 10px;
    top: 8px;
}